<!DOCTYPE HTML>
<html lang="en">
    {% include "head.template" %}
    <body>
        {% include "menu.template" %}

        <div class="slider-main h-800x h-sm-auto pos-relative pt-95 pb-25">
            <div class="img-bg bg-16 bg-layer-6"></div>
            <div class="container-fluid h-100 mt-xs-50">
                <div class="dplay-tbl">
                    <div class="dplay-tbl-cell">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                                <div class="bg-white p-40 psm-30">
                                    <h5 class="color-ash"><b>{{post.tags|uppercase|join:", "}}</b></h5>
                                    <h1 class="mt-20 lh-1-2"><b>{{post.title}}</b></h1>							
                                </div><!-- bg-white -->
                            </div><!-- col-lg-4 -->
                        </div><!-- row -->
                    </div><!-- dplay-tbl-cell -->
                </div><!-- dplay-tbl -->
            </div><!-- container -->
        </div><!-- slider-main -->

        <section class="bg-1-white ptb-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-md-12 col-lg-8 ptb-50 pr-30 pr-md-15">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="sided-70x">
                                    <div class="s-left">
                                        <img src="/images/profile-terry.jpg" alt="">
                                    </div><!-- s-left-->
                                    
                                    <div class="s-right">
                                        <p class="ptb-20 color-ash"><b>{{post.author}} on {{post.formattedDate}}</b></p>
                                    </div>
                                </div><!-- sided-80x-->
                            </div><!-- col-md-6-->
                            
                            <div class="col-sm-12 col-md-6">
                                <ul class="color-ash lh-70 text-right text-sm-left list-a-plr-10 font-13">
                                    <li><b>SHARE</b></li>
                                    <li><a href="#"><i class="color-facebook ion-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="color-twitter ion-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="color-google ion-social-google"></i></a></li>
                                </ul>
                            </div><!-- col-md-6-->
                        </div><!-- row-->
                        <h3 class="mtb-50"><b>“{{post.callout}}”</b></h3>
                        <p class="mt-40 mt-sm-10">{{post.content}}</p>
                        <ul class="tag mtb-50">
                        {% for tag in post.tags %}
                            <li><a href="#"><b>{{tag}}</b></a></li>
                        {% endfor %}
                        </ul>
                        
                        <div class="brdr-grey-1 mt-50 mt-sm-20"></div>
                        
                        <div class="mt-50 mb-20">
                            <div class="row">
                            {% for relatedPost in posts where relatedPost.title != post.title %}
                                {% if forloop.counter0 < 2 %}
                                <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
                                    <div class="card h-100 min-h-350x">
                                        <div class="bg-white h-100">
                                            <!-- SETTING IMAGE WITH bg-10 -->
                                            <div class="h-50 bg-10"></div>

                                            <div class="plr-25 ptb-15 h-50">
                                                <div class="dplay-tbl">
                                                    <div class="dplay-tbl-cell">
                                                        <h5 class="color-ash"><b>{{relatedPost.tags|uppercase|join:", "}}</b></h5>
                                                        <h4 class="mtb-10">
                                                            <a href="{{relatedPost.link}}"><b>{{relatedPost.title}}</b></a>
                                                        </h4>
                                                        <ul class="list-li-mr-10 color-lt-black">
                                                            <li><i class="mr-5 font-12 align-right">{{relatedPost.formattedDate}}</i></li>
                                                        </ul>
                                                    </div><!-- dplay-tbl-cell -->
                                                </div><!-- dplay-tbl -->
                                            </div><!-- plr-25 ptb-15 -->
                                        </div><!-- hot-news -->
                                    </div><!-- card -->
                                </div><!-- col-lg-4 col-md-6 -->
                                {% endif %}
                            {% endfor %}
                            </div><!-- row-->	
                        </div><!-- mt-50 mb-20-->	
                    </div><!-- col-sm-9 -->
                </div><!-- row -->
            </div><!-- container -->
        </section>
        {% include "footer.template" %}
    </body>
</html>