<section class="article-section" id="article">
            <div class="container">
                <h2 class="text-black-50 mb-4">{{ title }}</h2>
                <p>{{ body }}</p>
            </div>
        </section>