        <section class="projects-section" id="projects">
            <div class="container">
                <h2 class="text-black-50 mb-4">Projects</h2>
                {{> index-project-card-row }}
            </div>
        </section>