<header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="w-100">
                    <div class="rounded p-x-1">
                        <ul class="list-unstyled">
                            {{# articles }}<li>
                                <i class="fab fa-{{ lowercase(topic) }} orange-50"></i>
                                <a href="{{link}}">{{title}}</a>
                            <li>{{/ articles }}

                        </ul>
                    </div>
                </div>
            </div>
        </header>
