<header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h2 class="text-black-50 mx-auto mt-2 mb-5">"This is an example quote"</h2>
                </div>
            </div>
        </header>