<div class="row">
                    {{# .}}<div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fab fa-github"></i>
                                <h4 class="text-uppercase m-0"><a href="{{url}}">{{title}}</a></h4>
                                <hr class="my-4" />
                                <div class="small text-black-60">{{tagline}}</div>
                                <div class="small text-black-50"><b>{{languages}}</b></div>
                            </div>
                        </div>
                    </div>{{/ .}}
                </div>
                <div class="spacer"></div>