<!-- Image | Article -->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 articles">
                            <div class="d-flex h-100">
                                <div class="articles-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">{{title}}</h4>
                                    <p class="article-date text-white-50">{{date}}</p>
                                    <p class="mb-0 text-white-50">{{intro}}</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>