<!-- Contact-->
        <section class="contact-section bg-black">
            <div class="social-dark d-flex justify-content-center">
                <a class="mx-2" href="https://twitter.com/terrylatanville"><i class="fab fa-twitter"></i></a>
                <a class="mx-2" href="https://github.com/rndmtsk"><i class="fab fa-github"></i></a>
                <a class="mx-2" href="https://apps.apple.com/ca/developer/terry-latanville/id1200334897"><i class="fab fa-app-store-ios"></i></a>
            </div>            
        </section>
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50">
            <div class="container">Copyright © Terry Latanville <script>document.write(new Date().getFullYear());</script></div>
            <div class="container">All Rights Reserved</div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>