{{# . }}<ul>
                        <li><a href="{{url}}"><img src="assets/img/{{icon}}" /></a></li>
                        <li><h6 class="text-white-50 mb-4">{{title}}</h6></li>
                    </ul>{{/ . }}