<!DOCTYPE html>
<html lang="en">
    {{> header }}
    <body id="page-top">
        <!-- Navigation-->
        {{> index-navigation }}
        <!-- Masthead-->
        {{> index-masthead }}
        <!-- Gradient Transition -->
        <section class="dark-gradient-section h-100"></section>
        <!-- Articles-->
        {{> index-articles }}
        <!-- Projects-->
        {{> index-projects }}
        <!-- Footer -->
        {{> footer }}
    </body>
</html>