<header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="10000">
                        <div class="carousel-inner">
                            <div class="carousel-item active"><h2 class="text-black-50 mx-auto mt-2 mb-5">{{ code-snippet-1 }}</h2></div>
                            <div class="carousel-item"><h2 class="text-black-50 mx-auto mt-2 mb-5">{{ code-snippet-2 }}</h2></div>
                            <div class="carousel-item"><h2 class="text-black-50 mx-auto mt-2 mb-5">{{ code-snippet-3 }}</h2></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
