<section class="apps-section" id="apps">
            <div class="container">
                <h2 class="text-white-50 mb-4">Apps</h2>
                <div class="d-flex justify-content-center">
                    {{# apps }}{{> index-app-entry }}{{/ apps }}
                </div>
            </div>
        </section>