<section class="articles-section" id="articles">
            <div class="container">
                <h2 class="text-black-50 mb-4">Articles</h2>
                <!-- Featured Project Row-->{{{featuredarticle}}}
                <!-- Additional Project Row-->
                {{{secondarticle}}}
                <!-- Additional Project Row-->
                {{{thirdarticle}}}
            </div>
        </section>